<header class="position-relative">
    <div class="container align-middle mt-5">
      <div class="row color-texto-header" >
        <div class="col-xs-12 col-sm-7">
          <h1 class="title fw-bold">First I wanted to be a veterinarian</h1>
          <p class="parrafo fs-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fugiat sapiente officiis iusto 
            distinctio nisi at voluptatibus assumenda praesentium veritatis in dolor aut impedit, ipsam 
            aspernatur ratione perferendis deleniti dolores.
          </p>
          <div class="mt-4 mb-4">
            <a href="" class="btn btn-info text-white me-3">Contact Us</a>
            <a href="" class="btn btn-outline-light">Our Service</a>
          </div>
        </div>
  
        <div class="col-xs-12 col-sm-5 img-banner">
          <img src="../assets/multimedia/png/bulldog-pie-youpet.png" alt="pug veterinarian">
        </div>
      </div>
    </div>
  </header>
