<app-setion-recent-post></app-setion-recent-post>
  <footer class="container-fluid py-4 pb-4 bg-dark">
    <div class="container text-white">
      <div class="row">
      
        <div class="col-sm-5 col-md-3 ">
          <h5>About</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">History</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Team</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Brand Guidelines</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Term & Condition</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-sm-5 col-md-3">
          <h5>Services</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How to order</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Product</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Order Status</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Promo</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Payment Method</a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-md-6 ">
          <form class="text-end" >
            <h5>Title Here</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden text-white">Email address</label>
              <input id="newsletter1" type="text" class="form-control bg-warning " placeholder="Email address">
              <button class="btn btn-info text-white" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154l.215.338 7.494-7.494Z"/>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>