<section class="container-fluid overflow-hidden align-middle mb-5 {{colorBg}}" id="{{idSection}}">

    <div class="row container mx-auto row-section text-white text-center">
        
      <div class="row ">
        <h1 class="mb-4 fw-bold title">{{title}}</h1>
        <h3 class="col-sm-7 mx-auto">{{parrafo}}</h3>
      </div>
    
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-4 mt-2 mb-2">
          <div class="imgService">
            <img [src]="rutaImagen1" alt="{{infoImagen1}}" srcset="">
          </div>
          <h3 class="mt-3 mb-3"> <span class="text-decoration-line-through fw-bold">$300</span> {{titleImagen1}}</h3>
          <button class="btn btn-info text-white ">{{textImagen1}}</button>
        </div>
    
        <div class="col-xs-12 col-sm-2 col-md-4 mt-2 mb-2">
          <div class="imgService">
            <img [src]="rutaImagen2" alt="{{infoImagen2}}" srcset="">
          </div>
          <h3 class="mt-3 mb-3"> <span class="text-decoration-line-through fw-bold">$45</span> {{titleImagen2}}</h3>
          <button class="btn btn-info text-white ">{{textImagen2}}</button>
        </div>
    
        <div class="col-xs-12 col-sm-2 col-md-4 mt-2 mb-2">
          <div class="imgService">
            <img [src]="rutaImagen3" alt="{{infoImagen3}}" srcset="">
          </div>
          <h3 class="mt-3 mb-3"> <span class="text-decoration-line-through fw-bold">$40</span> {{titleImagen3}}</h3>
          <button class="btn btn-info text-white ">{{textImagen3}}</button>
        </div>
      </div>
    </div>
</section>
    