<section class="container-fluid overflow-hidden align-middle mb-5 {{colorBg}}" id="{{idSection}}">

    <div class="row container mx-auto row-section text-center">  
        <div class="row ">
            <h1 class="mb-4 fw-bold title">{{title}}</h1>
            <h3 class="col-sm-7 mx-auto">{{parrafo}}</h3>
        </div>
        <div class="row">
            <div class="card col-xs-12 col-md-4 text-start me-4" style="width: 18rem;">
                <img [src]="rutaImagen1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title ">{{titleImagen1}}</h5>
                  <a href="#" class="card-link text-info fw-bold text-decoration-none">FEBRARY 09, 2000</a>
                  <p class="card-text">{{textImagen1}}</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link text-info fw-bold text-decoration-none">Read more+</a>
                </div>
            </div>
            <div class="card col-xs-12 col-md-4 text-start me-4" style="width: 18rem;">
                <img [src]="rutaImagen2" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title ">{{titleImagen2}}</h5>
                  <a href="#" class="card-link text-info fw-bold text-decoration-none">FEBRARY 09, 2000</a>
                  <p class="card-text">{{textImagen2}}</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link text-info fw-bold text-decoration-none">Read more+</a>
                </div>
            </div>
            <div class="card col-xs-12 col-md-4 text-start me-4" style="width: 18rem;">
                <img [src]="rutaImagen3" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title ">{{titleImagen3}}</h5>
                  <a href="#" class="card-link text-info fw-bold text-decoration-none">FEBRARY 09, 2000</a>
                  <p class="card-text">{{textImagen3}}</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link text-info fw-bold text-decoration-none">Read more+</a>
                </div>
            </div>
        </div>
    </div>
</section>
    