<section
      class="container-fluid overflow-hidden align-middle mb-5"
      id="row-ourServices"
    >
      <div class="row container mx-auto row-section">
        <div class="col-xs-12 col-sm-7 col-md-7">
          <h1 class="title">As a veterinarian and lover of animals</h1>
          <h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            quaerat ut facere non, doloremque aliquam maiores. Fugiat dolore autem
            facilis!
          </h5>
          <a href="#" class="btn btn-warning text-white mt-4 mb-4">Our Service</a>
        </div>

        <div class="col-12 col-md-5 position-relative">
          <div class="videoInfo">
            <video
              src="../assets/multimedia/veterinarian_youpet.mp4"
              autoplay
              controls
            ></video>
          </div>
        </div>
      </div>
    </section>