<!-- component Header -->

<app-header></app-header>
<!-- end component Header -->

<!-- Main -->
<main>
  
    <app-section-services></app-section-services>

    <!-- Section Services  -->
    <app-setion-service></app-setion-service>

    <!-- Section lover Animals -->
    <app-section-lover-animals></app-section-lover-animals>

    <!-- Section Sale Pets -->
    <app-setion-sale-pets></app-setion-sale-pets>

    <!-- Section Team -->
    <app-setion-vetcare-team></app-setion-vetcare-team>

    <!-- Section Results -->
    <app-setion-results></app-setion-results> 

</main> 
<!-- Main end -->
<!-- footer -->
<app-footer></app-footer>